# Xcode
**/xcuserdata/
**/xcshareddata/IDEWorkspaceChecks.plist

# CocoaPods
**/Pods/**
**/Podfile.lock

# Node
node_modules/
package-lock.json

# Gemfile
Gemfile.lock

# fastlane
fastlane/report.xml
fastlane/README.md
Carthage/
Developer/YJCocoa/build/